@import "tailwindcss";


@theme {
  --color-mainBg: oklch(0.9121 0.0033 17.22);
  --color-orange1: oklch(0.8097 0.1234 53.5);
  --color-orange2: oklch(0.7416 0.1727 49.77);
  --color-blue1: oklch(0.7912 0.1049 269.56);
  --color-blue2:oklch(0.7481 0.1287 268.99);
  --color-blue3:oklch(0.6321 0.2018 254.09);
}



@theme{

  --animate-marque: marque 30s linear infinite;

@keyframes marque  {

  from{
  transform: translateX(100%)
  }
  to {
    transform: translateX(-100%);
  }
}

}
